body{
    overflow: hidden;
    margin: 0;
}
.bg{
    height: 1900px;
    background:url(vit.jpeg) no-repeat fixed center;
    background-size: cover;
    filter: blur(7px);
    z-index: -1;
}
.form h1{
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
}
.form{
    background-color: rgba(0, 0, 0, 0.847);
    z-index: 2;
    position: absolute;
    top: 100px;
    color: white;
    width: 30%;
    left: 650px;
    font-size: 25px;
    padding: 30px;
    box-shadow: 10px 10px 10px 2px rgb(46, 46, 46);
}

#us,#pass{
    width: 340px;
    font-size: 25px;
    margin-left: 130px;
    margin-bottom: 20px;
    padding-left:20px ;
    
    
}
label{
    margin-left: 120px;
    padding: 10px;
    cursor: pointer;
}

#capt{
    height: 30px;
    width: 150px;
    margin-left: 120px;
    font-size: 20px;
}
#capcha{
    height: 30px;
    width: 150px;
    margin-left: 50px;
    font-size: 20px;
}    
#submit{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 250px;
    padding: 10px;
}
.p1{
    margin-bottom: 0;
    padding-bottom: 0;
}
.p2{
    padding-top: 0;
    margin-top:0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.a1{
    margin-right: 340px;
}
.a3{
    margin-left: 30px;
}
.a1,.a3{
    color: white;
    text-decoration: none;
}
.a1:hover{
    text-decoration: underline solid white;
}
#user,#lock{
    position: absolute;
    left: 160px;
    color: rgb(255, 255, 255);
    padding-top: 4px;
}
input{
    background-color: transparent;
    border: none;
    border-bottom:2px solid white;
    color: white;
}
input[type="button"]
{
    background-color:black;
    color: white;
    border-radius: 50%;
}
#capt{
    background: url(cb.jpg) no-repeat fixed center;
    background-size: cover;
    color: wheat;
    letter-spacing: 10px;
}
#capcha{
    border: 2px solid white;
    color: white;
}
.a3{
    margin-left: 500px;
}