body{
    background-color: white;
    margin: 0;
    overflow-x: hidden;

}
.title{
    background:url(3.jpg) no-repeat fixed center;
    background-size: cover;
    width: 100%;
    
}
nav{
    width: 100%;
    margin-top: 0;
    height: 40px;
}

.img{
    width: 55px;
    height: 55px;
}
.name{
    color: #ffff;
    font-size: 45px;
}

.a{
    background-color: yellow;
    height: 25px;
    width: 100%;
}
ul{
    list-style:circle;
    margin-top: 0%;
    padding-bottom: 2px;

}
.c{
    color: red;
}
li{
    float: left;
    padding-right: 30px;
    margin-top: 0%;
}
.d{
    display: inline;
    text-decoration: none;
    color: red;
}
.d:active{
    color:blue;
}
.m{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    border-top-left-radius: 50px;
    width: 50%;
    margin-left: auto;
    margin-top: 5px;
}
.m span{
    color: blue;
    font-style:oblique;
    font-weight: bold;
    text-transform: uppercase;
}
.m img
{
    height: 200px;
    width:250px;
    padding: 15px;
}
#about{
    display: flex;
    background: url(imgbg.jpg) no-repeat fixed center;
    background-size:cover;
    margin-bottom: 10px;
}
.l{
    background-color: rgba(15, 10, 20, 0.514);
    margin: 5px;
    text-align: center;
    margin-left: 74px;
}
.l img{
    padding: 5px;
    border-radius: 20px;
}
.l p{
    width: 500px;
    text-align: justify;
    font-size: 1.3em;
    color: #ffffff;
    padding: 30px;
}
.f{
    list-style:none;
    width: 100%;
    margin-top: 0%;
    padding-bottom: 2px;
    overflow: hidden;
    background-color: black;
    margin: 0%;
    padding: 3px;
    border-radius: 3px;
    margin-bottom: 1px;
    
    
}
.e .h{
    float: left;
    padding-left: 5px;
    margin-top: 0%;
    border-right: 3px solid white;
    padding-bottom: 4px;
}

.g{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Engravers MT;
    border-right: 3px solid white;
    border-radius: 15px;
    
}
.e{
    padding-right: 30px;
}
.h{
    float: right;
    margin-top: 10px;
    
}
.g:hover{
  border: 3px solid white;
}
 .g:active{
      background-color: gray;
}
#about{
    margin-top: 10px;
    background-color: honeydew;
}

.doc{
    list-style: none;
    display: inline;
    padding: 25.3px;
    margin-right: 20px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.4);
    transition: 1s;
}
.n{
    text-align: center;
   background-color: peachpuff;
    width: 90%;
    height: 620px;
    border-top-right-radius:100px;
}
.n img{
    
    width: 300px;
    height: 300px;
    padding: 50px 75px 5px 65px;
}
.doc:hover{
    transform: scale(1.2);
}
.but{
    list-style: none;
}
.but button{
    font-size: 25px;
    margin-top: 470px;
    margin-left: 100px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
    transform: scale(1.2);
}
.but button:hover{
    box-shadow: 0 0 0 0;
    transform: scale(1);
}
.but button:active{
    box-shadow: 0 0 0 0;
    transform: scale(1);
    background-color: lightcoral;
    color:aqua;
}
footer{
    background-color: black;
    width: 100%;
    height: 600px;
    display: flex;
}
.f1{
    padding-top: 20px;
    width: 33%;
    border-right: 4px solid rgba(255, 255, 255, 0.085);
    
}
.fp1{
    color: white;
}
.cu1{
    display:flex;
    justify-content: center;
}
.cli1{
    list-style: none;
    margin-right: 20px;
}
.cli1 a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 60px;
}
.fp2{
    color: #ffff;
}
.pra1{
    font-weight: bold;
    font-size: 30px;
    color: #ffff;
    text-decoration:4px underline rgb(240, 123, 143);
    text-transform:uppercase;
}

.pra2 a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-left: 40px;
}
.pra2 a:hover{
    transform: scale(1.2);
    text-decoration:3px underline;
}
.pra2 a:active{
    color: cornflowerblue;
}
.d1{
    color:white;
    display: flex;
    justify-content: center;
    
}
.d2{
    display:flex;
    padding: 15px;
    margin-left: 40px;
    border: 3px solid white;
}
.d2 i{
    font-size: 30px;
    padding: 20px 5px 0 0;
}
.d3 p{
    font-size: 20px;
    margin: 5px 2px 5px 2px;
}
.d3 span{
    font-size: 30px;
}
.d1 a
{
    color: white;
    text-decoration: none;
}
.d1 a:hover{
    transform: scale(1.2);
}
.d1 a:active
{
    background-color: #ffff;
    color: #000;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.4);
}
.d1 .d2 .fa-android:hover{
color: green;
}
.he1{
    width: 33%;
    padding-top: 20px;
    border-right: 4px solid rgba(255, 255, 255, 0.085);
}
.he1 ul li{
    list-style: none;
    font-size: 20px;
    text-transform:uppercase;
    color: #ffff;
    float: none;
    padding: 10px;
    cursor: pointer;
}
.he1 ul li a:hover{
    text-decoration:3px underline lightseagreen;
}
.f3{
    padding-top: 20px;
    width: 33%;
    
}
.add{
    border-bottom: 4px solid rgba(255, 255, 255, 0.085);
    padding-left: 10px;
}
address{
    color: #ffff;
    font-size: 20px;
    font-family: Arial;
}
.cop p{
    color:#ffff;
    font-size: 30px;
    padding-top:50px;
}
